.banner {
  width: 100vw;
  height: 100vh;

  background-image: url('@/utils/assets/banner.png'); 
  background-size: cover;
  background-position: right;

  display: flex;
  align-items: center;
  justify-content: center;
}
  
.container {
  width: 100%; 
  max-width: 700px;
  /* height: 50vh; */
  background-color: #EAE5DE;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 20px;
  
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}


.container h1 {
  font-size: 24px;
  color: var(--verde-escuro);
  margin: 20px 0;
  font-weight: 800;
  font-family: var(--fonte-titulo);
}

.input_field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px auto;
  font-family: var(--fonte);
}

.input_field > input {
  width: 50%;
  height: 22%;
  background-color: #F3EFE9;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 16px;
  color: #000;
  padding: 20px 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  font-family: var(--fonte);
}

.input_field > input::placeholder {
  color:#000;
}


.recall-forget {
  text-align: center;
  font-size: 14.5px;
  margin: 2% 0;
  font-family: var(--fonte);
  font-weight: 100;
}

.recall-forget > a {
  color: #000;
}

.recall-forget > a:hover {
  text-decoration: underline;
}

.container > form > button {
  width: 25%;
  padding: 0 32px;
  height: 35px;
  background-color: #B53627;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin: auto;
}

.recall-connect {
  text-align: center;
  font-size: 14.5px;
  margin-top: 3%;
  font-family: var(--fonte);
  font-weight: 100;
  color: #000;
}

.recall-connect a {
  color: #000;
  text-decoration: none;  
}

.recall-connect a:hover {
  text-decoration: underline;
}


@media (max-width: 1200px) {
  button{
    width: 100px;
  }

  .input_field input {
    width: 70%;
  }

  .container{
    max-width: 70%;
    height: 500px; 
  }
}

