.container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    background: #EAE5DE;
    
    width: 240px;
    height: 100vh;
}

.logo {
    margin-top: 20px;

    cursor: pointer;
}

.ordenation-navbar {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

}

.button-config {
    padding: 10px 30px;
    margin-bottom: 40px;
    font-weight: 600;


    cursor: pointer;
}