* {
    margin: 0;
    padding: 0;
}


/* 
.container-order > .client-modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    width: 70%;
    height: 70%;
    border: 2px solid violet;
} */

/* 
.container-order > .client-modal > .client-modal-card {
    width: calc(100% + 20px);
    width: 90%;
    height: 70%;
    
    background: var(--cor-fundo-sec);

    border: 1px solid var(--verde-escuro);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

    padding: 20px 30px;
} */

/* .container-order > .client-modal > h2, 
.container-order > .client-modal > .client-modal-card > h2 {
    color: #656D4A;
    font-family: var(--fonte-titulo);
    font-size: 24px;
    text-align: center;
} */

/* .container-order > .client-modal > button {
    width: 200px;
    height: 20px;

    font-family: var(--fonte);
    background-color: var(--verde);
    border-radius: 20px;
    border: none;
} */

@media screen and (min-width: 768px){

    .container-order {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2vh;
        width: 100vw;
        height: 90vh;
        position: fixed;

        background-color: var(--cor-fundo);
    }

    
    .container-order .order-details-left h1 {
        font-family: var(--fonte-titulo);
        font-size: 40px;
        font-weight: 600;
        color: var(--verde-escuro);
        
        /* margin: 3vh 0; */
    }
    
    .container-order .order-details-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 53vw;
        height: 80vh;
        /* border: 1px solid #A60F1B; */
    }
    
    .container-order .order-details-right {
        width: 45vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 6vh;
    }
}

@media screen and (min-width: 1200px) {
    .container-order {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2vh;
        align-items: center;
        width: 81.5%;
        height: 100vh;
        position: fixed;
        left: 20%;

        /* width: 80vw;
        height: 100vh; */
    
        background-color: var(--cor-fundo);
        /* color: #3A3C16; */
        /* font-weight: 700; */
    
        /* position: absolute;
        left: 20%; */
    }
    
    .container-order .order-details-left h1 {
        font-family: var(--fonte-titulo);
        font-size: 30px;
        font-weight: 700;
        color: var(--verde-escuro);
        
        /* margin: 3vh 0; */
    }
    
    .container-order .order-details-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40vw;
        height: 95vh;
        /* border: 1px solid #A60F1B; */
    }
    
    .container-order .order-details-right {
        width: 40vw;
        height: 92vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 6vh;
    }  
}