* {
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 1200px) {
    .container-order {
        background: var(--cor-fundo);
        height: 100vh;
        width: 85%;
        /* display: grid; */
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 20%;
    }

    .container-details-order {
        width: 100%;
        height: 90vh;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .container-order .order-details-left {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        height: 90vh;
    }

    .titulo {
        display: flex;
        align-items: center;
        height: 5%;
        /* width: 40vw; */
        justify-content: space-around;
        text-align: center;
        align-content: center;
    }

    .container-order .order-details-left .titulo h1 {
        font-family: var(--fonte-titulo);
        font-size: 30px;
        font-weight: 700;
        color: var(--verde-escuro);
        text-align: center;
        /* display: block; */
    }

    .container-order .order-details-right {
        width: 45%;
        height: 85vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
        /* margin-top: 5vh; */
        /* margin-top: 10vh; */
        align-self: end;
    }

    .btn-finalizar {
        width: 15%;
        align-self: flex-end;
    }

    .btn {
        background-color: var(--verde);
        color: var(--cor-fundo);
        align-items: center;
        width: 6vw;
        height: 6vh;
        font-size: 15px;
        font-family: var(--fonte);
        font-weight: 400;
        text-align: center;
        /* margin: 0; */
        /* margin-bottom: 2vh; */
        box-shadow: none;
        border: none;
        transition: background-color 0.3s;
        align-self: end;
        border-radius: 10px;
        margin: 5px;
    }

    .btn-voltar {
        align-self: self-start;
        height: 6vh;
    }

    .details,
    .progress,
    .pricing,
    .review {
        display: none;
    }
}