@media screen and (max-width: 1200px) {

    .container-report {
        width: 100vw;
        height: 90%;

        background-color: #F3EFE9;
        color: #3A3C16;
        font-weight: 700;

        position: absolute;
        top: 10%;
    }

    .container-report > h1 {
        width: 90%;
        
        margin: 3vh auto;
    }

    .container-report > section {
        /* width: 90%; */
    }

}

@media screen and (min-width: 1200px) {

    .container-report {
        width: 82%;
        min-height: 100vh;

        background-color: #F3EFE9;
        color: #3A3C16;
        font-weight: 700;

        position: absolute;
        left: 18%;
    }

    .container-report > h1 {
        width: 90%;
        
        margin: 3vh auto;
    }

    .container-report > section {
        display: flex;

        margin: 20px auto;

        width: 90%;
        height: 200px;    
    }

    .container-report > section.area-kpis {
        height: fit-content;
        justify-content: space-between;
    }

    .container-report > section.area-kpis > div {
        width: 23%;
        height: 150px;
    }

    .container-report > section.area-kpis > div > p {
        font-size: 18px;
    }

    .container-report > section.area-kpis > div > p.value {
        font-size: 36px;
    }

    .container-report > section.area-mini-charts {
        height: 200px;
    }

    .container-report > section.area-mini-charts > .charts {
        background-color: #EAE5DE;
        width: 450px;
        padding: 20px;
    }

}