.selectBeveragePromo-modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
}
  
.selectBeveragePromo-modal-container {
    position: relative;
    background-color: #F3EFE9;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 800px; 
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

.selectBeveragePromo-modal-container h2 {
    color: #3A3C16;
    align-self: flex-start;
    margin-bottom: 20px; 
}
  
.selectBeveragePromo-beverage-menu {
    width: 100%;
    margin-bottom: 20px;
}
  
.selectBeveragePromo-beverage-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px; 
}
  
.selectBeveragePromo-beverage-tab {
    background: none; 
    border: none; 
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    color: #3A3C16;
}
  
.selectBeveragePromo-beverage-tab.active {
    font-weight: bold; 
}
  
.selectBeveragePromo-search-bar {
    display: flex;
    align-items: center;
    width: 60%;
    margin-bottom: 20px; 
}
  
.selectBeveragePromo-search-bar input {
    width: 75%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
}
  
.selectBeveragePromo-search-button {
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
    background-color: transparent;
}
  
.selectBeveragePromo-beverage-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-height: 350px; 
    overflow-y: auto; 
} 
  
.selectBeveragePromo-beverage-item {
    padding: 15px 30px; 
    background-color: #f5f5f5;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    word-wrap: break-word;
    height: 70px;
    min-width: 250px; 
}
  
.selectBeveragePromo-beverage-item:hover {
    background-color: #C2C5AA;
    transition: background-color 0.3s ease;
}

.selectBeveragePromo-next-button {
    background-color: transparent;
    color: #3A3C16;
    border: 1px solid #3A3C16;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: auto;
}

.selectBeveragePromo-next-button:hover {
    background-color: #3A3C16;
    color: white;
}

.progress-indicator-select-beverage-promo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot-not {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: #d1d1d1;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: #656D4A;
}


@media (max-width: 768px) {
  .selectBeveragePromo-modal-container {
    width: 90%; 
    height: auto; 
    padding: 20px;
  }

  .selectBeveragePromo-search-bar input {
    width: 100%;
  }
}

@media (max-width: 639px) {
  .selectBeveragePromo-modal-container {
    width: 400px; 
  }

  .selectBeveragePromo-beverage-tabs {
    justify-content: center; 
  }

  .selectBeveragePromo-beverage-list {
    grid-template-columns: 1fr;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
  }

  .selectBeveragePromo-beverage-item {
    height: 50px; 
    font-size: 14px; 
  }

  .selectBeveragePromo-next-button {
    width: 100%; 
  }
}

@media (max-width: 563px) {
  .selectBeveragePromo-beverage-item {
    width: 100%;
  }

  .selectBeveragePromo-search-bar input {
    width: 100%;
  }
}
