.container-buttonNavbar a {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    
    .container-buttonNavbar {
        display: none;
        width: 90%;
    
        margin: 25px 0;
    
        text-decoration: none;
        list-style-type: none;
    
        border-radius: 15px;
        cursor: pointer;
    }
    
    .main {
        display: block;    
        width: 70%;
    
        text-decoration: none;
        list-style-type: none;
    
        border-radius: 15px;
        cursor: pointer;
    }
    
    .container-buttonNavbar.active {
        background-color: #656D4A;        
    }
    
    .container-buttonNavbar > a {
        display: flex;
        
        color: #3A3C16;
        font-size: 18px;
        font-weight: 600;
        
        padding: 2px 10px;
    }
    
    .container-buttonNavbar > a > i {
        margin-right: 15px;
        height: 40px;
    }
    
    a.active {
        display: flex;
        justify-content: center;
        color: #EAE5DE;
    }
    
    .money {
        height: 40px;
        width: 40px;
    }      

}


@media screen and (min-width: 1200px) {
    .container-buttonNavbar {
        display: block;
        width: 90%;
    
        margin: 25px 0;
    
        text-decoration: none;
        list-style-type: none;
    
        border-radius: 15px;
        cursor: pointer;
    }
    
    .container-buttonNavbar.active {
        background-color: #656D4A;
    }
    
    .container-buttonNavbar > a {
        display: flex;
        align-items: center;
        
        color: #3A3C16;
        font-size: 20px;
        font-weight: 600;
        
        padding: 5px 10px;
    }
    
    .container-buttonNavbar > a > i {
        margin-right: 15px;
        height: 40px;
    }
    
    a.active {
        justify-content: flex-start;
        color: #EAE5DE;
    }
    
    .money {
        height: 40px;
        width: 40px;
    }
}

