      .selectPizzaPromo-modal-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
        width: 100vw; 
        background-color: rgba(0, 0, 0, 0.5); 
        position: fixed;
        top: 0;
        left: 0;
      }

      .selectPizzaPromo-modal-container {
        position: relative;
        background-color: #F3EFE9;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        width: 800px; 
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; 
      }

      .selectPizzaPromo-pizza-item.selected {
        background-color: #4CAF50; 
        color: white; 
        border-color: #4CAF50; 
      }

      .selectPizzaPromo-modal-container h2 {
        color: #3A3C16;
        align-self: flex-start;
        margin-bottom: 20px; 
      }

      .selectPizzaPromo-pizza-menu {
        width: 100%;
        margin-bottom: 20px;
      }

      .selectPizzaPromo-pizza-tabs {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-bottom: 1px solid #ccc; 
        padding-bottom: 10px; 
      }

      .selectPizzaPromo-pizza-tab {
        background: none; 
        border: none; 
        font-size: 16px;
        cursor: pointer;
        padding: 10px;
        color: #3A3C16;
      }

      .selectPizzaPromo-pizza-tab:focus {
        outline: none; 
      }

      .selectPizzaPromo-pizza-tab:hover {
        color: #656D4A; 
        transition: color 0.3s ease;
      }

      .selectPizzaPromo-pizza-tab.active {
        font-weight: bold; 
      }

      .selectPizzaPromo-search-bar {
        display: flex;
        align-items: center;
        width: 60%;
        margin-bottom: 20px; 
      }

      .selectPizzaPromo-search-bar input {
        width: 75%; 
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: black;
        background-color: transparent;
      }

      .selectPizzaPromo-search-button {
        border: none;
        border-radius: 50%;
        padding: 12px;
        cursor: pointer;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px; 
        background-color: transparent;
      }

      .selectPizzaPromo-pizza-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-height: 350px; 
        overflow-y: auto; 
      } 

      .selectPizzaPromo-pizza-item {
        padding: 15px 30px; 
        background-color: #f5f5f5;
        color: #000000;
        border: 1px solid #ccc;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        font-size: 16px; 
        display: flex;
        justify-content: space-between; 
        align-items: center;
        word-wrap: break-word;
        height: 70px;
        min-width: 250px; 
      }

      .selectPizzaPromo-pizza-item:hover {
        background-color: #C2C5AA;
        transition: background-color 0.3s ease;
      }

      .selectPizzaPromo-next-button {
        bottom: 20px; 
        right: 20px; 
        background-color: transparent;
        color: #3A3C16;
        border: 1px solid #3A3C16;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s, color 0.3s;
        margin-left: auto;
      }

      .selectPizzaPromo-next-button:hover {
        background-color: #3A3C16;
        color: white;
      }

      .progress-indicator-select-pizza-promo {
        display: flex;
        justify-content: center;
        margin-top: 15px;
      }

      .close-button {
        position: absolute;
        top: 10px; 
        right: 10px; 
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        color: #3A3C16;
    }
    
    .close-button:hover {
        color: #4CAF50;
    }

      .dot-not {
        width: 8px;
        height: 8px;
        margin: 0 4px;
        background-color: #d1d1d1;
        border-radius: 50%;
        display: inline-block;
      }

      .dot.active {
        background-color: #656D4A;
      }

      @media (max-width: 768px) {
      .selectPizzaPromo-modal-container {
        width: 90%; 
        height: auto; 
        padding: 20px;
      }

      .selectPizzaPromo-search-bar input{
        width: 100%;
        color: black
      }
      }

      @media (max-width: 639px) {

      .selectPizzaPromo-modal-container {
        width: 400px;
      }

      .selectPizzaPromo-pizza-tabs {
        justify-content: center;
      }

      .selectPizzaPromo-pizza-list {
        grid-template-columns: 1fr; 
        gap: 10px;
        max-height: 300px;
        overflow-y: auto;
      }

      .selectPizzaPromo-pizza-item {
        height: 50px; 
        font-size: 14px; 
      }

      .selectPizzaPromo-next-button {
        width: 100%;
      }
      }

      @media (max-width: 563px) {
        .selectPizzaPromo-pizza-item {
          width: 100%;
        }

        .selectPizzaPromo-pizza-item input{
          max-width: 100%;
        }

        .selectPizzaPromo-search-bar input{
          width: 100%;
        }
      }