.component-item {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 170px;
    height: 180px;

    padding: 5px;
    
    background-color: #EAE5DE;
    border-radius: 20px;

    position: relative;
    top: 20px;
    /* margin-top: 20px; */
}

.component-item > .content { 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
    bottom: 20px;
}

.component-item > .content > img {
    width: 100px;

    margin-bottom: 5px;
}

.component-item > .content > .description {
    font-size: 10px; 
    border: 1px solid white;    
    max-width: 90%;
    max-height: 20px;
}

/* como fazer variaveis de ambiente no github? */
/* Variaveis de Ambiente no React começam obrigatóriamente REACT_APP */