.container {
    display: flex;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    margin-left: 18%;
    padding: 20px;
    background-color: #F3EFE9;
}

.main h1 {
    color: #3A3C16;
    margin: 25px auto;
    width: 90%;
}

.filters {
    display: flex;

    justify-content: flex-end;
    align-items: center;
    
    width: 90%;
    margin: 25px auto;
}

.dateInput {
    width: 200px;
    padding: 11.5px 20px;
    border: 1px solid #3A3C16;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    background-color: #F3EFE9;
    outline: none;
    cursor: pointer;
}

.dateInputVisible {
    transform: translateX(-375px);
    transition: all 0.5s ease;
}

.legend {
    margin: 10px auto;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px; 
    color: black;
}

.legend-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.color-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.orderList {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    width: 90%;
    gap: 15px;
    transition: all 0.5s ease;
}

.orderList.active {
    width: 60% !important;
    margin: 4px;
}

.orderCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;

    cursor: pointer;
}

.orderCard hr{
    display: flex;
    width: 1px;
    border: black;
    background-color: black;
}

.orderInfo{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.orderInfo .infoDate{
    display: flex;
    flex-direction: column;
    color: black;
    gap: 5px;
}

.orderInfo .infoCodTotal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 5px;
}

.infoCodTotal .infos2{
    display: flex;
    flex-direction: column;
    color: black;
    gap: 5px;
}

.infoCodTotal .iconPizzaMoney{
    display: flex;
    height: 33px;
    width: auto;
    margin-right: 15px;
}

/*aba lateral da order*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    color: black;
    background-color: #EAE5DE;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1000;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.sidebarContent {
    margin-top: 10px;
    text-align: center;
    flex-grow: 1; /*conteúdo ocupa o espaço restante */
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: scroll;
}

.sidebarContent::-webkit-scrollbar{
    width: 0px; 
    background: transparent; 
}

.divClose {
    position: relative;
    display: flex;
    justify-content: flex-start; /* Alinha o icon X à esquerda */
    width: 100%;
}

.iconX {
    cursor: pointer;
    font-size: 30px !important;
    position: absolute;
    left: 0;
}

.detailsOrder {
    margin-top: 10px;
    max-height: calc(100vh - 50px);  /* conteúdo dentro não ultrapasse a tela */
    overflow-y: scroll;
}

.detailsOrder::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

.sidebarContent hr {
    width: 40%;
    height: 1px;
    border: none;
    background-color: black;
    margin: 25px auto;
}

.sidebarContent ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebarContent li {
    margin: 5px 0;
}

.sidebarContent h2 {
    margin-bottom: 20px;
}

.detailsOrder .divIconPizzaTitulo {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;  
}

.divIconPizza {
    margin-right: 10px;  
}

.divTituloValor {
    display: flex;
    flex-direction: column;  
    justify-content: center;
}

.iconPizzaCode, .iconMoney {
    font-size: 30px;  
    vertical-align: middle; 
}
