@media screen and (max-width: 1200px) { 
    /* Celular */
    
    .container-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        background: #EAE5DE;
        
        width: 100%;
        height: 10%;
        
        z-index: 1;
    }
    
    .logo {
        cursor: pointer;
    }
    
    .ordenation-navbar {
        display: flex;
        justify-content: center;
        width: 30%;
    }

    .ordenation-navbar > ul {
        display: none;
    }
    
    .button-config {
        padding: 10px 0px;
        font-weight: 600;
    
        width: 15%;
        /* color: #EAE5DE; */
    }

}


@media screen and (min-width: 1200px) { 
    /* Computador */
  
    .container-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        
        background: #EAE5DE;
        
        width: 18%;
        height: 100vh;

        position: fixed;
    }

    .logo {
        margin-top: 5vh;

        cursor: pointer;
    }   

    .ordenation-navbar {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 90%;
    }

    .ordenation-navbar > li {
        margin: 2vh;
    }

    .button-config {
        padding: 10px 0px;
        margin-bottom: 5vh;
        font-weight: 600;

        width: 80%;
        color: #EAE5DE;

        cursor: pointer;
    }

}

