@media screen and (max-width: 1200px) { 
    /* Celular */
    
    .container-navbar {
        justify-content: space-between;

        position: fixed;
        bottom: 0;
        left: 0;

        background: #EAE5DE;
        
        width: 100%;
        height: 60px;
        
        z-index: 1;
    }
    
    .logo {
        display: none;
    }
    
    .ordenation-navbar {
        justify-content: space-evenly;
        width: 100%;
    }

}


@media screen and (min-width: 1200px) { 
    /* Computador */
  
    .container-navbar {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        background: #EAE5DE;
        
        width: 18%;
        height: 100vh;

        position: fixed;
    }

    .logo {
        height: 80px;
        cursor: pointer;
    }   

    .ordenation-navbar {
        flex-direction: column;

        width: 90%;
        height: calc(100% - 160px);
    }

    .ordenation-navbar > li {
        margin: 2vh;
    }

}

