.container-pizza {
    background: var(--cor-fundo-sec);
    width: 90vw;
    height: 65vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.container-pizza .titulo {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #FFF;
    padding: 2vh;
}

.container-pizza .titulo p {
    font-family: var(--fonte-titulo);
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: var(--verde);
}


@media screen and (min-width: 768px){
    .container-pizza {
        width: 100%;
        height: 45vh;
    }

    .container-pizza .titulo {
        width: 93%;
    }
}

@media screen and (min-width: 1200px) {
    .container-pizza {
        width: 100%;
        /* max-height: 42vh; */
        height: 50vh;
    }

    .container-pizza .titulo {
        width: 100%;
    }

    .container-pizza .titulo p {
        font-size: 22px;
    }
}

@media screen and (min-width: 1900px){
    .container-pizza .titulo p {
        font-size: 35px;
    }

    .container-pizza .titulo .btn-adicionar {
        font-size: 20px;
    }
}