@media screen and (max-width: 1200px) {

    .container-flavor {
        width: 100vw;
        height: 90%;

        background-color: #F3EFE9;
        color: #3A3C16;
        font-weight: 700;

        position: absolute;
        top: 10%;
    }

    .container-flavor > h1 {
        width: 90%;
        
        margin: 3vh auto;
    }

    .container-flavor > nav {
        margin-left: 5vh;
    }

    .container-flavor > .comp-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 90%;
        margin: 25px 5vh;
    }

    .container-flavor > .comp-search > label > .icon-search {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        
        background-color: #3A3C16;
        color: #FFFFFF;
        
        border: none;
        border-radius: 50%;

        cursor: pointer;
    }

    .container-flavor > .comp-search > .input-search {
        margin-left: 10px;
        padding: 15px 20px;
        
        color: #3A3C16;
        font-weight: 600;
        font-size: 12px;

        background-color: #F3EFE9;
        border: 1px solid #3A3C16;
        border-radius: 10px;

        outline: none;
    }

    .container-flavor > .flavor-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        margin: 5uto;
        width: 90%;
        height: 65%;
        max-height: 100%;
        
        border: 2px solid violet;
    }

}

@media screen and (min-width: 1200px) {

    .container-flavor {
        width: 82%;
        height: 100vh;

        background-color: #F3EFE9;
        color: #3A3C16;
        font-weight: 700;

        position: absolute;
        left: 18%;
    }

    .container-flavor > h1 {
        width: 90%;
        
        margin: 3vh auto;
    }

    .container-flavor > nav {
        margin-left: 10vh;
    }

    .container-flavor > .comp-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 90%;
        margin: 40px auto;
    }

    .container-flavor > .comp-search > label > .icon-search {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        
        background-color: #3A3C16;
        color: #FFFFFF;
        
        border: none;
        border-radius: 50%;

        cursor: pointer;
    }

    .container-flavor > .comp-search > .input-search {
        margin-left: 10px;
        padding: 15px 20px;
        
        color: #3A3C16;
        font-weight: 600;
        font-size: 12px;

        background-color: #F3EFE9;
        border: 1px solid #3A3C16;
        border-radius: 10px;

        outline: none;
    }

    .container-flavor > .flavor-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0px 15px;

        justify-content: flex-start;
        align-items: flex-start;
        

        margin: auto;
        max-width: 90%;
        height: 65%;
        overflow-y: scroll;
    }

}