.features {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
}

.features img {
  width: 100%; 
}

.titlePlus {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.titlePlus p {
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Lexend Medium';
  font-size: medium;
}

.iconPlus {
  color: #A60F1B;
  font-size: 30px;
  cursor: pointer;
}

.funcionalidade {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.content {
  flex: 1; 
  margin-right: 20px; 
}

.title {
  font-size: 24px;
  font-weight: bold; 
}

.description {
  font-size: 16px; 
  margin-bottom: 10px; 
}

.fact {
  font-size: 14px; 
  color: #555; 
}

.icon {
  width: 150px; 
  height: auto;
}

/* Responsividade */
@media (max-width: 760px) {
  .desktop {
    display: none; 
  }

  .mobile {
    margin-top: 40px;
  }

  .icon-container img {
    width: 50%;
  }

  .title-iconPlus{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .iconPlus {
    color: #A60F1B;
    font-size: 30px;
  }

  .desciptionBlock {
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, margin 0.3s ease-in-out; 
    max-height: 0;
  }

  .desciptionBlock.active {
    margin: 10px 0;
    height: auto;
    max-height: 500px;
  }
}

@media (min-width: 761px) {
  .features {
    flex-direction: row; 
  }

  .mobile {
    display: none; 
  }

  .desktop {
    display: flex; 
    width: 94%;
  }

  .icon-container{
    width: 70%;
    display: flex;
    align-items: center;
    padding-right: 30px;
  }

  .desktop .icon-img-desktop {
    width: 70%;
    min-width: 300px; 
  }

  .funcionalidade-invertida{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-left: 30px;
  }

  .titleText {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 20px 70px 0px 0px; 
    justify-content: center;
  }

  .titleText hr {
    width: 80%; 
    border: 1px solid #4D4138; 
  }

  .titleText h3 {
    font-family: 'Lexend SemiBold';
    font-size: 25px; 
  }

  .titleText p {
    margin-top: 7px;
    font-family: 'Lexend Regular'; 
  }

  .description {
    font-size: 16px; 
    margin-bottom: 10px; 
  }
  
  .facts {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 14px; 
  }
}
