.conteiner-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    

    margin: auto;
    max-width: 90%;
    height: 75%;
    overflow-y: scroll;
}
