.firstpart {
    height: 38.36%;
}

.gap {
    height: 5px;
    width: 100%;
    background-color: #f2f2f286;
}

.medias-social {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.medias-social img {
    width: 15%;
}

@media screen and (max-width: 460px) {

    .desktop, .vetorFooter {
        display: none;
    }

    .mobile {
        display: flex;
        /* flex-direction: column; */
        height: 80vh;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Lexend Medium';
        color: #4D4138;
        background-color: #FBD6D0;
        padding-top: 10px;
    }

    .firstpart, .secondpart {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    
    .secondpart {
        height: 61.64%;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 60%;
        justify-content: center;
        align-items: center;
    }
    
    .menu li, .menu a {
        font-weight: 700;
        font-size: 16px;
        color: #4D4138;
        list-style-type: none;
    }
}

@media screen and (max-width: 1024px){
    .mobile{
        display: none;
    }

    .vetorFooter{
        width: 100%;
        display: block;
    }

    .desktop {
        display: flex;
        flex-direction: column;
        height: 35vh;
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Lexend Medium';
        color: #4D4138;
        background-color: #FBD6D0;
        padding: 0;
    }

    .firstpart {
        width: 95%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .menu {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .menu li, .menu a {
        font-weight: 700;
        font-size: 16px;
        color: #4D4138;
        list-style-type: none;
    }
    
    .secondpart {
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

}

