@keyframes openComponent {
    0% {
        opacity: 0;
        height: 0%;
    }
    50% {
        opacity: 1;
        height: 28%;
    }
}

@keyframes closeComponent {
    0% {
        opacity: 1;
        height: 30%;
    }
    50% {
        height: 0%;
        opacity: 0;
    }
}

.openAnimation {
    animation: openComponent 3s normal;
}

.closeAnimation {
    animation: closeComponent 3s normal;
}



/* @media screen and (min-width: 1200px) { */

    .container-option {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        border-left: 3px solid #656D4A;
        
        width: 80%;
        margin-top: -2vh;
    
        animation: openComponent 3s normal;
    }
    
    .container-option > li {
        margin: 10px 0;
        animation: openComponent 3s normal;
    }
    
    .container-option > li.active {
        background-color: #FFFFFF;        
    }
    
    .container-option > li > a {
        color: #3A3C16;
    }

/* } */

