.campos {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
  }

  .campos .campos__list {
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 10px;
  }

  .campos .campos__list .campos-left,
  .campos .campos__list .campos-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .campos .campo__item-telefone {
    width: 15vw;
    border-radius: 10px;
    border: 1.5px solid var(--verde-escuro);
    padding: 1vh;
    background: var(--campo-preenchido);
  }

  .campos .campo__item-telefone p {
    font-family: var(--fonte);
    font-size: 12px;
    font-weight: 500;
    color: var(--verde-escuro);
  }

 
  .campos .campos__list .campos-left .campo__item p,
  .campos .campos__list .campos-right .campo__item p {
    font-family: var(--fonte);
    font-size: 12px;
    font-weight: 500;
    color: var(--verde-escuro);
  }

  .campos .campo__item,
  .campos .campos__list .campos-left .campo__item,
  .campos .campos__list .campos-right .campo__item {
    width: 15vw;
    /* width: 90%; */
    border-radius: 10px;
    border: 1.5px solid var(--verde-escuro);
    padding: 1vh;
    background: var(--campo-preenchido);
  }