* {
  margin: 0;
  padding: 0;
}

.campos-list {
  /* width: 100%; */
  /* width: 40vw; */
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

.campos-left,
.campos-right {
  display: none;
}


@media screen and (min-width: 769px) {
  .campos-list {
    /* width: 40vw; */
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    width: 98%;
  }

  .campos-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    
  }

  .campos-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
  }
}