.pizza-dropdown-flavor {
  width: 20%;
  padding: 12px 14px;
  align-items: center;
  display: flex;

  border-radius: 10px;
  border: 2px solid var(--verde-escuro);
  background-color: transparent;
  cursor: pointer;
  
  color: var(--verde-escuro);
  font-family: var(--fonte);
  font-size: 16px;
  font-weight: 500;
}
